server:
  port: 8080

spring:
  application:
    name: backend
  datasource:
    url: jdbc:mysql://101.37.79.220:3306/rideapp?useSSL=false&serverTimezone=Asia/Shanghai&characterEncoding=utf8
    username: root
    password: Aa@123456
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
